.text-black{
    color: #000000;
    }

@media screen and (max-width: 768px) {
.get-btn{
    margin-bottom: 2rem;
}
.home-illust{
    display: none;
}
.left-text{
    margin: 0 auto;
    text-align: center
}
}